.home {
  grid-template-columns: 4.32fr 7.68fr;
  align-items: center;
  padding: 40px;
  height: 100vh;
  max-width: 1100px;
}

.home__img {
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  max-width: 330px;
  z-index: 1;
}

.div__img {
  height: 25%;
  width: 100%;
}

.img_profile {
  height: 100%;
  width: 100%;
}

.home__data {
  max-width: 600px;
  margin-inline: auto;
  padding-top: 20px;
}
.home__content{
  z-index: 100;
}
.home__title {
  position: relative;
  font-size: var(--h1-font-size);
  line-height: 1.24;
  padding-left: 40px;
  
}

.home__title span {
  color: var(--first-color);
}

.home__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 22%;
  height: 5px;
  border-radius: 10px;
  background-color: var(--first-color);
}

.home__description {
  width: 100%;
  line-height: 2.125;
  margin-block: 16px 32px;
  padding: 1.5rem;
  
}

.color__block {
  position: fixed;
  height: 200%;
  width: 100%;
  background-color: var(--first-color);
  top: -50%;
  left: -83%;
  transform: rotate(-15deg);
}


@media (max-width: 1000px ) {
  .home__img{
    display: none;
  }

  .home{
    display: flex;
    justify-content: center;
    align-items: center;


  }
}